body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Updated flex-direction to column */
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    background: skyblue;
    height: 100vh;
}

.container span {
    font-size: 4em;
    margin-bottom: 10px;
}

.btn, .btn1 {
    padding: 10px 20px;
    background: blue;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
img{
    width: 400px;
    height: 250px;
}
.btn{
    background-color: rgb(8, 153, 15);
}    
.btn1{
    background-color: rgb(199, 7, 7);
}


h3 {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color:antiquewhite
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .btn, .btn1 {
        padding: 20px 30px;
    }

    h3 {
        
        margin-top: 200px;
        margin-right: 0px;
        
        
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
    }
}